<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1,minimum-scale=0.5">
    <title>发现</title>
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/swiper-3.4.2.jquery.min.js"></script>
    <script src="js/vue.js"></script>
    <!-- <script src="js/hammer.js"></script> -->
    <!-- <script src="js/touch.min.js"></script> -->
    <style>
        .swiper-pagination-bullet-active{

        }
    </style>
</head>
<body id="body">
<div class="header">
    <ul>
        <li class="changecolor">特色</li>
        <li ontouchend="breakfast()">早餐</li>
        <li>午餐</li>
        <li>晚餐</li>
        <li>零食</li>
        <li>甜品</li>
    </ul>
</div>
<div class="main" id="main">
    <!-- 轮播图 -->
    <!-- Slider main container -->
    <div class="swiper-container" style="width: 100%;">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" onclick="coupon()"><img class="banner" src="images/coupon.jpg" alt=""></div>
        <div class="swiper-slide"><img class="banner" src="images/banner2.png" alt=""></div>
        <div class="swiper-slide"><img class="banner" src="images/banner2.png" alt=""></div>
        </div>
        <!-- If we need pagination -->
        <!-- <div class="swiper-pagination"></div> -->

        <!-- If we need navigation buttons -->
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

        <!-- If we need scrollbar -->
        <div class="swiper-pagination">
            <!-- <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span> -->
        </div>
    </div>
    <!-- end 轮播图 -->

    <div class="card_content" id="app" v-if="ifhid">
        <div class="card"  v-for="item in array" >
            <div class="card_left" >
                <p><span>￥</span><span class="t1">{{item.coupon.subtract}}</span><span>优惠卷 满{{item.coupon.full}}使用</span></p>
                <p>{{item.coupon.name}}</p>
                <p>有效期至<span>{{item.coupon.creationTime.split(' ')[0]}}</span>~<span>{{item.coupon.expirationTime.split(' ')[0]}}</span></p>
            </div>
            <div class="card_right">
               <img src="images/nouse.png" alt="" v-if="item.use == 0">
               <img src="images/alreadyuse.png" alt="" v-if="item.use == 1">
               <img src="images/lessdata.png" alt="" v-if="item.use == 2">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="left img">
            <p>精选商品</p>
            <img src="images/egg@3x.png" alt="">
        </div>
        <div class="right">
            <div class="cost">
                <span>澳大利亚进口，超级鲜鸡蛋</span>
                <p>￥20.68</p>
            </div>
            <p class="more">查看更多</p>
        </div>
    </div>
    <div class="content">
        <div class="left img">
            <p>精选商品</p>
            <img src="images/fruit@3x.png" alt="">
        </div>
        <div class="right">
            <div class="cost">
                <span>浓香水蜜桃</span>
                <p>￥25.68</p>
            </div>
            <p class="more">查看更多</p>
        </div>
    </div>
    <div class="content">
        <div class="left img">
            <p>精选商品</p>
            <img src="images/hamburger@3x.png" alt="">
        </div>
        <div class="right">
            <div class="cost">
                <span>美味汉堡</span>
                <p>￥5.68</p>
            </div>
            <p class="more">查看更多</p>
        </div>
    </div>
    <div class="motai">
        <div class="motai_content">
            <img src="" alt="">
            <span></span>
            <p></p>
        </div>
    </div>
</div>
</body>
<script>
    //获取域名,解析
    function reset(){
        var r = window.location.search.substr(1).split('&');
        var first = r[0].split('=')[1];
        return first;
    }
    var token = reset();
    //跳转到折扣页面
    function coupon(){
        window.location.href = 'src/coupon.html'
    }
    //获取设备屏幕宽度,设置根目录宽度和字体大小
    function screenwidth(){
        var html = document.getElementById('html');
        html.style.fontSize = window.screen.width+'px';
        var w=document.documentElement?document.documentElement.clientWidth :document.body.clientWidth ;
        html.style.fontSize = w/7.5 +'px';
    }
    screenwidth();
    //点击变颜色
    /*$('.header li').on('touchend',function(){
        $(this).addClass('changecolor').siblings().removeClass('changecolor');
    });*/
    $('.header li').on('touchstart',function(){
        $(this).addClass('btn-on');
    });
    $('.header li').on('touchend',function(){
        $(this).removeClass('btn-on');
    });
        /*btn.ontouchstart=function(){
            this.className="btn btn-on";
        }
        btn.ontouchend=function(){
            this.className="btn";
        }*/
    //跳转更多页面
    $('.right').on('click',function(){
        window.location.href='src/feature.html'
    });
    //跳转早餐页面
    function breakfast(){
        window.location.href='src/family.html'
    }
    //显示隐藏图片
    $('.motai').hide();
    $('.img').on('click',function(){
        var imgsrc = $(this).children('img').attr('src');
        var name = $(this).siblings('.right').children('.cost').children('span').text();
        var cost = $(this).siblings('.right').children('.cost').children('p').text();
        $('.motai').fadeIn();
        $('.motai_content img').attr('src',imgsrc);
        $('.motai_content span').text(name);
        $('.motai_content p').text(cost);

    });
    $('.motai').on('touchend',function(){
        $('.motai').fadeOut();
    });
    //请求优惠卷
    /*token = '49392b2a-80df-4cc3-9c66-3d4fe573289d';*/
    $.ajax({
        url: 'http://dev.wetripay.com:8001/c1st/api/coupon/queryUserCoupon',
        type: 'GET',
        dataType: "json",
        beforeSend:function(request) {
             request.setRequestHeader("authorization", token);
        },
        success:function(data){
            console.log('返回的数据');
            console.log(data);
            //use 0未使用 1已使用 2已过期
            if(data.code&&data.code=='200'){
                //成功
                //vue
                var flag = false;
                if(data.data.list.length!=0){
                    flag = true;
                }
                var vm = new Vue({
                    el:'#app',
                    data:{
                        array:data.data.list,
                        ifhid:flag,
                    },
                    methods:{

                    }
                });

            }else if(data.code&&data.code=='401'){
                //未登录
                alert(data.message);
                //vue
                var flag = false;
                /*if(data.data.list.length!=0){
                    flag = true;
                }*/
                var vm = new Vue({
                    el:'#app',
                    data:{
                        ifhid:flag,
                    },
                });
            }else if(data.code&&data.code=='500'){
                //系统异常
                alert('服务器异常');
            }
        },
    })

    /*touch.on('#body','swiperight',function(e){
        console.log(123);
        console.log(e);
        window.location.href='src/family.html';
    });*/
    //向右滑动
    /*var el = document.getElementById('body');
    var hammer = new Hammer(el);
    hammer.on('pan',function(e){
        console.log(123);
        console.log(e);
        window.location.href='src/family.html';
    });*/
    /*var container = document.getElementById('main');
    var mc = new Hammer(container)
    mc.get('swipe').set({
        direction: Hammer.DIRECTION_ALL
    });
    mc.on('swipeleft', function (e) {
        console.log(1);
        console.log(e);
        window.location.href='src/family.html'
    });
    mc.on('swiperight', function (e) {
        console.log(2)
        console.log(e);
        window.location.href='src/family_foot.html'
    });*/
    /*mc.get('swipe').set({ direction: Hammer.DIRECTION_VERTICAL});*/
    //touch.js


</script>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
    // Optional parameters
    autoplay: 4000,
    autoplayDisableOnInteraction:false,
    direction: 'horizontal',
    loop: true,
    // If we need pagination
    //pagination: '.swiper-pagination',
    pagination: '.swiper-pagination',

    // Navigation arrows
    //nextButton: '.swiper-button-next',
    //prevButton: '.swiper-button-prev',

    // And if we need scrollbar
    //scrollbar: '.swiper-scrollbar',

    });
</script>
</html>
